body{
    background-image: url("https://images.unsplash.com/photo-1510070009289-b5bc34383727?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MjJ8fGJsb2clMjBiYWNrZ3JvdW5kfGVufDB8fDB8fHww&auto=format&fit=crop&w=500&q=60");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.content{
    padding-top: 7 0px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    
}

.content_box{
    width: 200px;
    border: rgb(192, 196, 207) solid;
    padding: 20px;
    margin-left: 30px;
}